
/**
 * Rio 2016 Tickets App
 * by Ali Haris
 * based on the official ticketing website of Rio 2016 (https://ingressos.rio2016.com)
 */

/** Font Styles */
@font-face {
    font-family: TheSansRio2016;
    src: url(../fonts/regular.eot);
    src: url(../fonts/regular.eot?#iefix) format("eot"),url(../fonts/regular.woff) format("woff"),url(../fonts/regular.ttf) format("truetype"),url(../fonts/regular.d4cfc8f4.svg#thesansrio2016regular) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TheSansRio2016Italic;
    src: url(../fonts/italic.eot);
    src: url(../fonts/italic.eot?#iefix) format("eot"),url(../fonts/italic.woff) format("woff"),url(../fonts/italic.ttf) format("truetype"),url(../fonts/italic.a95a79cd.svg#thesansrio2016italic) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TheSansRio2016Bold;
    src: url(/obj/rio2016/ogf_obj/layout/fonts/Rio2016/bold.eot);
    src: url(../fonts/bold.eot?#iefix) format("eot"),url(../fonts/bold.woff) format("woff"),url(../fonts/bold.ttf) format("truetype"),url(../fonts/bold.0da9925e.svg#thesansrio2016bold) format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: TheSansRio2016BoldItalic;
    src: url(/obj/rio2016/ogf_obj/layout/fonts/Rio2016/bolditalic.eot);
    src: url(../fonts/bolditalic.eot?#iefix) format("eot"),url(../fonts/bolditalic.woff) format("woff"),url(../fonts/bolditalic.ttf) format("truetype"),url(../fonts/bolditalic.a23b910f.svg#thesansrio2016bolditalic) format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: TheSansRio2016Black;
    src: url(../fonts/black.eot);
    src: url(../fonts/black.eot?#iefix) format("eot"),url(../fonts/black.woff) format("woff"),url(../fonts/black.ttf) format("truetype"),url(../fonts/black.540f5cf7.svg#thesansrio2016black) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TheSansRio2016BlackItalic;
    src: url(../fonts/blackitalic.eot);
    src: url(../fonts/blackitalic.eot?#iefix) format("eot"),url(../fonts/blackitalic.woff) format("woff"),url(../fonts/blackitalic.ttf) format("truetype"),url(../fonts/blackitalic.60d0248e.svg#thesansrio2016blackitalic) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TheSansRio2016Light;
    src: url(../fonts/light.eot);
    src: url(../fonts/light.eot?#iefix) format("eot"),url(../fonts/light.woff) format("woff"),url(../fonts/light.ttf) format("truetype"),url(../fonts/light.ff59cfde.svg#thesansrio2016light) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TheSansRio2016LightItalic;
    src: url(../fonts/lightitalic.eot);
    src: url(../fonts/lightitalic.eot?#iefix) format("eot"),url(../fonts/lightitalic.woff) format("woff"),url(../fonts/lightitalic.ttf) format("truetype"),url(../fonts/lightitalic.2152eeb1.svg#thesansrio2016lightitalic) format("svg");
    font-style: normal;
    font-weight: 400;
}

/** Type Styles */
button, html, input, select, textarea, p, label, table {
    font-family: TheSansRio2016, sans-serif;
}

/** Shared Styles */
:focus {
    outline: none;
}

body {
    background: #f5f4f4;
    font-family: TheSansRio2016, sans-serif;
    color: #595959;
}

header {
    background: url(../img/bg-header.png) no-repeat scroll center -1px;
    height: 144px;
}

header .logo {
    margin-left: -40px;
    position: absolute;
    top: 20px;
    left: 50%;
}

footer {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding: 20px 0;
}

footer p {
    font-size: 13px;
}

/** Navigation Menu */

.nav {
    font-family: TheSansRio2016Bold;
    margin: 20px 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    text-transform: uppercase;
}

.nav.primary li {
    margin-right: 30px;
}

.nav.secondary {
    text-align: right;
}

.nav.secondary li {
    margin-left: 30px;
}

.nav.secondary li a,
.nav.secondary li a:hover {
    color: #004b88;
}

.nav.secondary li a:hover {
    border-bottom: 4px solid;
}

.nav.secondary li.cart a:hover {
    border-bottom: 0;
}

.nav.secondary li.cart {
    background: #fff url(../img/cart-icon.png) no-repeat 3px 5px;
    padding: 0 10px 0 43px;
}


/** Pages */

.welcome-banners .banner {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 100%;
}

.welcome-banners.row .columns {
    padding: .5rem 0.55rem;
}

section.page {
    background: #fff;
    border-radius: 10px;
    padding: 50px;
}

section.page h1,
section.page h2,
section.page h3 {
    color: #f4791f;
    font-family: TheSansRio2016, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

section.page h2 {
    font-size: 24px;
}

section.page h3 {
    font-size: 18px;
}

section.page form.medium {
    width: 50%;
}

section.page form .form-buttons {
    margin-top: 20px;
}

section.page form .form-buttons input.button {
    margin-bottom: 0;
}


/** Search Results */
#search-results {
    border-collapse: collapse;
    width: 100%;
}

#search-results th {
    background: #f5f4f4;
}

#search-results tr {
    border-bottom: 1px solid #ccc;
}

#search-results tr td {
    background: #fff;
    border-right: 1px solid #ccc;
}

.icon {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: 20px;
}

.icon-female {
    background: url(../img/icon-female.png) no-repeat scroll 0 transparent;
}


.icon-male {
    background: url(../img/icon-male.png) no-repeat scroll 0 transparent;
}

.icon-mixed {
    background: url(../img/icon-mixed.png) no-repeat scroll 0 transparent;
    width: 35px;
}

.icon-medal {
    background: url(../img/icon-medal.png) no-repeat scroll 0 transparent;
    height: 35px;
    width: 35px;
}

.icon-cart {
    background: url(../img/icon-cart.png) no-repeat scroll 0 transparent;
    height: 40px;
    width: 40px;
}

.footnote {
    font-family: TheSansRio2016, sans-serif;
    font-size: 13px;
}


/** Purchase */
.game-label li {
    color: #004b88;
    font-family: TheSansRio2015, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.game-label li.bold {
    font-family: TheSansRio2016Bold, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.game-label li.bold span {
    font-family: TheSansRio2015, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/** Seating Catgeories */
.seating-categories li {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px !important;
    padding: 10px 0;
}

.seating-categories li .category-label {
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: TheSansRio2016, sans-serif;
    font-size: 34px;
    height: 100%;
    text-align: center;
}


.seating-categories li span.price,
.seating-categories li span.description {
    display: block;
}

.seating-categories li span.price {
    font-family: TheSansRio2016Bold, sans-serif;
    font-size: 22px;
}

.seating-categories li span.description {
    font-family: TheSansRio2016, sans-serif;
    font-size: 14px;
}


.pk.a,
.seating-categories li .category-label.a {
    background: #62bb46;
}

.pk.b,
.seating-categories li .category-label.b {
    background: #00aee6;
}

.seating-categories li .category-label.c {
    background: #f4791f;
}

.pk.c,
.seating-categories li input[type=radio] {
    margin-top: 23px;
}

.ticket-cats {
    margin-top: 10px;
}

.ticket-cats li {
    margin-bottom: 10px !important;
}

.ticket-cats li img {
    margin-right: 10px;
}

/** Purchase Summary */
.summary {
    background: #f4791f;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
}

.summary .limit {
    background: #ed1c24;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 13px;
    padding: 10px;
}

.summary .amt {
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
}

.amt.lg {
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.amt.sm {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.summary .limit .amt {
    color: #ed1c24;
}

.summary > ul {
    padding: 10px;
}

.summary > ul li {
    border-top: 1px solid #fff;
    margin: 10px 0;
    padding: 10px 0;
}

.summary > ul li > span {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.summary > ul .amt {
    color: #f4791f;
}

.summary .total-price {
    color: #fde4d2;
    display: block;
    font-family: TheSansRio2016Bold, sans-serif;
    font-size: 24px;
}

.summary input[type=submit] {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    width: 100%;
}

/** Selected Sessions */
#selected-sessions > li {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

#selected-sessions .game-label {
    margin: 0;
}

#selected-sessions > li .icons-holder {
    margin: 10px 0;
}

#selected-sessions > li .event-link {
    color: #004b88;
    display: block;
    font-family: TheSansRio2016Bold, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

#selected-sessions > li ul.prices {
    margin: 10px 0 0 0;
}

#selected-sessions > li ul.prices > li {
    border-bottom: 1px solid #ccc;
}

#selected-sessions > li ul.prices > li.total {
    border-top: 1px solid #ccc;
    border-bottom: 0;
    font-weight: bold;
}

/** Order Summary */
.order-summary {
    background: #f5f4f4;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 10px;
}

.order-summary li {
    font-size: 13px;
}

/** Utility Classes */
.pk {
    color: #fff;
    border-radius: 4px;
    float: left;
    font-size: 20px;
    height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
}

.pk-label {
    color: #f4791f;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

.green:hover,
.green { color: #009246; }

.red:hover,
.red { color: #ed1c24; }

.green:hover,
.red:hover {
    border-bottom: 4px solid;
}

.inline-block {
    display: block;
}

ul {
    list-style: none;
    margin: 0;
}

ul.row li.columns {
    float: left !important;
}

.five-columns {
    columns: 5;
    -moz-columns: 5;
    -webkit-columns: 5;
    list-style: none;
    margin: 0;
}

.text-upper { text-transform: uppercase; }

/* Small only */
@media screen and (max-width: 39.9375em) {
    
    .nav {
        margin: 5px 0;
    }

    .nav,
    .nav.secondary {
        text-align: center;
    }

    .nav.primary li,
    .nav.secondary li {
        margin: 0 10px;
    }

    section.page {
        margin-top: 10px;
    }

    section.page form.medium {
        width: 100%;
    }

    .five-columns {
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }

    #fromCalendar,
    #toCalendar {
        display: inline-block;
    }

    ul.pagination.right {
        float: left !important;
    }

    ul.pagination.top {
        margin-bottom: 20px;
    }

    ul.pagination.bottom {
        margin-top: 20px;
    }

}

/* Medium only */
@media only screen and (min-width: 40.063em) {

    .nav.primary li,
    .nav.secondary li {
        margin: 0 10px;
    }

    .five-columns {
        columns: 3;
        -moz-columns: 3;
        -webkit-columns: 3;
    }

    #fromCalendar,
    #toCalendar {
        display: inline-block;
    }

}
